@using PokerOnline.Models

<div class="card simple_border">
    <p>@CardModel.GetSuit, @CardModel.GetValue</p>
</div>

<style>
   div {
       margin: 5px;
   }
</style>

@code {
    [Parameter] public Card CardModel { get; set; }
}
