@using PokerOnline.Models

<div class="card simple_border" style="margin: 5px;">
    <p>@CardModel.GetSuit, @CardModel.GetValue</p>
</div>

@code {
    [Parameter] public Card CardModel { get; set; }
}
