@using PokerOnline.Models

<div class="table content">
    <p>Highest Bet: @TableModel.CurrBetValue / Pot: @TableModel.Pot / State: @TableModel.State / Current Player: @(TableModel.CurrPlayer != null ? TableModel.CurrPlayer.Username : "")</p>

    @foreach (var card in TableModel.TableCards) {
        <CardComponent CardModel="card" />
    }
</div>

@code {
    [Parameter] public Table TableModel { get; set; }
}
